{% extends 'base.html.twig' %}

{% block title %}Ajouter des crédits{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Ajouter des crédits</h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.montant) }}
                        </div>
                        <button type="submit" class="btn btn-success w-100">
                            Valider l'achat
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}