{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Modifier mon profil</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="{{ asset(app.user.photoProfil ? 'uploads/photos/' ~ app.user.photoProfil : 'images/default-avatar.png') }}" 
                                 class="rounded-circle mb-3" width="150" alt="Photo de profil">
                            {{ form_row(form.photoProfil) }}
                        </div>
                        <div class="col-md-8">
                            {# Ajoutez ici d'autres champs du formulaire si nécessaire #}
                            <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}